* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.header__items {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.header__items li {
  margin: 1rem;
  list-style: none;
  padding: 1rem;
}

.header__items li:hover {
  background-color: rgb(123, 122, 122);
  cursor: pointer;
}
